services:
  mongodb1:
    image: mongo:8.0.1
    container_name: mongodb1
    hostname: mongodb1
    networks:
      mongonet:
    ports:
      - "27017:27017"
    volumes:
      - mongo1_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin123
      - MONGO_INITDB_DATABASE=ndb
    command: >
      mongod --replSet replica_set_single 
             --bind_ip_all 
             --port 27017 
             --auth 
             --keyFile /etc/mongo/keyFile
    healthcheck:
      test: [ "CMD", "mongosh", "--port", "27017",  "--eval", "db.adminCommand('ping')" ]


  mongodb2:
    image: mongo:8.0.1
    container_name: mongodb2
    hostname: mongodb2
    networks:
      mongonet:
    ports:
      - "27018:27017"
    volumes:
      - mongo2_data:/data/db
    command: >
      mongod --replSet replica_set_single 
             --bind_ip_all 
             --port 27017
             --auth 
             --keyFile /etc/mongo/keyFile
    healthcheck:
      test: [ "CMD", "mongosh","--port","27017", "--eval", "db.adminCommand('ping')" ]


  mongodb3:
    image: mongo:8.0.1
    container_name: mongodb3
    hostname: mongodb3
    networks:
      mongonet:
    ports:
      - "27019:27017"
    volumes:
      - mongo3_data:/data/db
    command: >
      mongod --replSet replica_set_single 
             --bind_ip_all 
             --port 27017 
             --auth 
             --keyFile /etc/mongo/keyFile
    healthcheck:
      test: [ "CMD", "mongosh","--port","27017" ,"--eval", "db.adminCommand('ping')" ]


  mongoinit:
    image: mongo:8.0.1
    container_name: mongoinit
    networks:
      mongonet:
    depends_on:
      mongodb1:
        condition: service_healthy
      mongodb2:
        condition: service_healthy
      mongodb3:
        condition: service_healthy
    restart: on-failure
    entrypoint: >
      bash -c "
        sleep 5
        until mongosh --host mongodb1:27017 --port 27017 -u admin -p admin123 --authenticationDatabase admin --eval 'rs.status().ok' | grep -q '1'; do sleep 2; done
        PRIMARY=$$(mongosh --host mongodb1:27017 --port 27017 --eval 'rs.isMaster().primary' | head -1)
        mongosh --host $$PRIMARY --eval '
          use admin
          db.createUser({
            user: "admin",
            pwd: "admin123",
            roles: [ { role: "root", db: "admin" } ]
          })
    
        '
        echo "dupa1"
        
      "

volumes:
  mongo1_data:
  mongo2_data:
  mongo3_data:

networks:
  mongonet:
    driver: bridge